[submodule "lib/modular-boost"]
	path = lib/modular-boost
	url = https://github.com/boostorg/boost.git
[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/curl/curl
[submodule "lib/libexpat"]
	path = lib/libexpat
	url = https://github.com/libexpat/libexpat
