[submodule "lib/modular-boost"]
	path = lib/modular-boost
	url = https://github.com/boostorg/boost.git
[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/curl/curl
[submodule "lib/libexpat"]
	path = lib/libexpat
	url = https://github.com/libexpat/libexpat
[submodule "lib/sqlite_static"]
	path = lib/sqlite_static
	url = https://github.com/ddorobot/sqlite_static
[submodule "lib/opencv_contrib"]
	path = lib/opencv_contrib
	url = https://github.com/opencv/opencv_contrib
[submodule "lib/freetype_mirror"]
	path = lib/freetype_mirror
	url = https://github.com/ddorobot/freetype_mirror
[submodule "lib/harfbuzz"]
	path = lib/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "lib/opencv"]
	path = lib/opencv
	url = https://github.com/opencv/opencv
[submodule "lib/cgridlistctrlex"]
	path = lib/cgridlistctrlex
	url = https://github.com/ddorobot/cgridlistctrlex
[submodule "lib/glog"]
	path = lib/glog
	url = https://github.com/ddorobot/glog.git
